[submodule "littlefs"]
	path = littlefs
	url = git@github.com:littlefs-project/littlefs.git
[submodule "stm32-bmp085"]
	path = stm32-bmp085
	url = git@github.com:lbthomsen/stm32-bmp085.git
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl
[submodule "stm32-w25qxx"]
	path = stm32-w25qxx
	url = git@github.com:lbthomsen/stm32-w25qxx.git
	branch = master
[submodule "stm32-w25qxx-fatfs"]
	path = stm32-w25qxx-fatfs
	url = git@github.com:lbthomsen/stm32-w25qxx-fatfs.git
	branch = master

